<style>
a {
  display: block;
  padding: 55px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img width="50px" height="50px" src="static/logo.jpg" alt="">     Cove Reno</a>
      <span class="navbar-toggle-icon"></span>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">SHOWROOM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands">BRANDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REWARDS</a>
        </li>
      </ul>
          <li class="nav-item">
          <a class="nav-link" href="#">FEEDBACK</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">CART</a>
        </li>
        <div>
        <li class="nav-item">
          <a class="nav-link" href="/Login"><img width="30px" height="30px" src="static/login.JPG" alt=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createCustomer"><img width="30px" height="30px" src="static/register.JPG" alt=""></a>
        </li>
        </div>
      </div>
  </div>
</nav>
