<style>
a {
  display: block;
  padding: 55px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img width="50px" height="50px" src="static/logo.jpg" alt="">     Cove Reno</a>
      <span class="navbar-toggle-icon"></span>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/Showroom">SHOWROOM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands2">BRANDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Packages">PACKAGES</a>
        </li
        <li class="nav-item">
          <a class="nav-link" href="/Reward">REWARDS</a>
        </li>
      </ul>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Feedback</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/submitFeedback">submit</a></li>
            <li><a class="dropdown-item" href="/viewFeedback">view</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">CARTS</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/retrievePackageA">Package A</a></li>
            <li><a class="dropdown-item" href="/retrievePackageB">Package B</a></li>
            <li><a class="dropdown-item" href="/retrievePackageC">Package C</a></li>
            <li><a class="dropdown-item" href="/retrievePackageD">Package D</a></li>
            <li><a class="dropdown-item" href="/createRequestForm">Customer Request List</a></li>
          </ul>
        </li>
        <div>
        <li class="nav-item">
          <a class="nav-link" href="/Login"><i class="fa fa-user" style='font-size:24px'></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createCustomer"><i class='fa fa-user-plus' style='font-size:24px'></i></a>
        </li>

        </div>
      </div>
  </div>
</nav>
