{% extends "baseAccount.html" %}
{% block title %}Library Loan System - Retrieve Customers{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="display-4">Profile</h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Username</th>
          <th>Email</th>
        <th>Gender</th>
        <th>Address</th>
          <th>Password</th>
        <th>Membership</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for customer in customers_list %}
        <tr>
          <td>{{ customer.get_customer_id() }}</td>
          <td>{{ customer.get_username() }}</td>
            <td>{{ customer.get_email() }}</td>
          <td>{{ customer.get_gender() }}</td>
          <td>{{ customer.get_address() }}</td>
          <td>{{ customer.get_password() }}</td>

          {% if customer.get_membership() == "N" %}
            <td>None</td>
          {% elif customer.get_membership() == "Nw" %}
            <td>New</td>
          {% elif customer.get_membership() == "S" %}
            <td>Senior</td>
          {% endif %}
          <td><a href="/updateCustomer/{{customer.get_customer_id()}}" class="btn btn-warning">Account Setting</i></a></td>
          <td>
<form action="{{url_for('delete_customer', id=customer.get_customer_id())}}" method="POST">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_customer_id()}}">
            Delete Account
            </button>

    <!-- The Modal -->
          <div class="modal" id="myModal_{{customer.get_customer_id()}}">
          <div class="modal-dialog">
          <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
           Are you sure you want to delete {{customer.get_username()}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

          </div>

        </div>
      </div>
    </div>
  </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
