<style>
    .display-4{
    text-align:center;
    }
    p{
    text-align:center}
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
      }
      img {
        max-width: 100%
      }
      .image {
        flex-basis: 40%
      }
      .text {
        font-size: 20px;
        padding-left: 40px;
        padding:40px;
        background-color:#CAD3CA;
      }
      .sale{
      color:#DA1111
      }
      .container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:40px;

      }
      .team2 {
        max-width: 100%

      }
      .image2 {
        flex-basis: 40%
      }
      .text2 {
        font-size: 20px;
        padding-right: 40px;
        padding:40px;
        background-color:#CAD3CA;
      }
      .mail{
        display: inline;
        padding: 0px;
        font-family: none;
        font-size: 20px;
        font-weight: none;
}
</style>
{% extends "baseAccount.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<h1 class="display-4">Welcome to Cove Reno</h1>
<p>We are so excited to be able to serve you.</p>
<div class="container">
      <div class="image">
        <img  src="static/holo.jpg">
      </div>
      <div class="text">
          <h1>Our Latest Equipment</h1>
        <p>We have a equipment that allows you to see</p>
          <p>your future homes HOLOGRAPHICALLY.</p>
          <p class="sale">It is NOT for sales.</p>
      </div>

    </div>
<div class="container2">

      <div class="text2">
          <h1>Contact Our Friendly Staffs</h1>
        <p>Hotline : 1800-0000-1111</p>
          <p>Email : <a class="mail" href="mailto:CoveReno@gmail.com">CoveReno@gmail.com</a></p>
      </div>
        <div class="image2">
        <img class="team2" src="static/team.png">
        </div>
    </div>
{% endblock %}
