{% extends "Base2.html" %}
{% block title %}Library Loan System - Packages{% endblock %}

{% block content %}
<h1 class="display-4">Packages</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#A">PACKAGE A</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#B">PACKAGE B</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#C">PACKAGE C</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#D">PACKAGE D</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="A">
      <br>
      <h2>PACKAGE A</h2>
      <br>
        <table class="table table-striped">
      <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
      </tr>
      </thead>
      <tbody>
       <tr>
           <td>3 Lighting</td>
           <td>Select from our range of Lighting designs and fixtures to spice your home!</td>
       </tr>
      <tr>
          <td>1 Flooring</td>
          <td>Spice up your house with new flooring that helps to improve your home!</td>
      </tr>
      </tbody>
        </table>
      <br>
         <p>Free Electrical Wiring Services and Installation Services</p>
         <p>$3500</p>
         <p><a href="/packageA" class="btn btn-info">Add to Cart</a></p>


  </div>

  <div class="tab-pane container-fluid active" id="B">
      <br>
      <h2>PACKAGE B</h2>
      <br>
        <table class="table table-striped">
      <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
      </tr>
      </thead>
      <tbody>
       <tr>
           <td>3 Colours Paint Bundle</td>
           <td>Select your favourite colours to create a bright and vibrant home!</td>
       </tr>
      <tr>
          <td>1 Flooring</td>
          <td>Spice up your house with new flooring that helps to improve your home!</td>
      </tr>
      </tbody>
        </table>
      <br>
         <p>2 Free Wallpaper Design, Free Painting and Installation Services</p>
         <p>$2400</p>
         <p><a href="/packageB" class="btn btn-info">Add to Cart</a></p>

  </div>

  <div class="tab-pane container-fluid active" id="C">
      <br>
      <h2>PACKAGE C</h2>
      <br>
        <table class="table table-striped">
      <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
      </tr>
      </thead>
      <tbody>
       <tr>
           <td>3 Lighting</td>
           <td>Select from our range of Lighting designs and fixtures to spice your home!</td>
       </tr>
      <tr>
          <td>1 Set Wallpaper Design Bundle</td>
          <td>Have beautiful wallpaper designs to elevate your home with different looks </td>
      </tr>
      </tbody>
        </table>
      <br>
         <p>Free Electrical Wiring Services and Wallpaper Installation Services</p>
         <p>$1500</p>
         <p><a href="/packageC" class="btn btn-info">Add to Cart</a></p>

  </div>

  <div class="tab-pane container-fluid active" id="D">
      <br>
      <h2>PACKAGE D</h2>
      <br>
        <table class="table table-striped">
      <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
      </tr>
      </thead>
      <tbody>
       <tr>
           <td>3 Colours Paint Bundle</td>
           <td>Select your favourite colours to create a bright and vibrant home!</td>
       </tr>
      <tr>
          <td>1 Set Wallpaper Design Bundle</td>
          <td>Have beautiful wallpaper designs to elevate your home with different looks </td>
      </tr>
      </tbody>
        </table>
      <br>
         <p>Free Electrical Wiring Services and Wallpaper Installation Services</p>
         <p>$1000</p>
         <p><a href="/packageD" class="btn btn-info">Add to Cart</a></p>

  </div>
</div>

<br>
<br>
<br>
<br>

{% endblock %}
