{% extends "base.html" %}
{% block title %}Cove Reno - Retrieve Feedback{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
  {% if count == 0 %}
  <p>There are no feedback.</p>
  {% elif count == 1 %}
  <p>There is 1 feedback.</p>
  {% else %}
  <p>There are {{ count }} feedbacks.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Website Rating</th>
        <th>Service Rating</th>
        <th>Feedback</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for feedback in feedback_list %}
      <tr>
        <td>{{feedback.get_user_id()}}</td>
        <td>{{feedback.get_first_name()}}</td>
        <td>{{feedback.get_last_name()}}</td>
        <td>{{feedback.get_email()}}</td>
        {% if feedback.get_web_rating() == "3" %}
          <td>3 Star</td>
        {% elif feedback.get_web_rating() == "2" %}
          <td>2 Star</td>
        {% elif feedback.get_web_rating() == "1" %}
          <td>1 Star</td>
        {% endif %}
        {% if feedback.get_service_rating() == "3" %}
          <td>3 Star</td>
        {% elif feedback.get_service_rating() == "2" %}
          <td>2 Star</td>
        {% elif feedback.get_service_rating() == "1" %}
          <td>1 Star</td>
        {% endif %}
        <td>{{feedback.get_feedback()}}</td>
        <td>{{feedback.get_status()}}</td>
        <td><a href="/updateFeedback/{{feedback.get_user_id()}}"  class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_feedback', id=feedback.get_user_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
