{% extends "base2.html" %}
{% block title %}Cove Reno
- Retrieve StockTiles{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Tile Stock</h1>
<div>
{% if count == 0 %}
  <p>There are no Tile Stock.</p>
  {% elif count == 1 %}
  <p>There is 1 Tile Stock.</p>
  {% else %}
  <p>There are {{ count }} Tile Stocks.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>StockTile ID</th>
        <th>StockTile Name</th>
        <th>StockTile Count</th>
        <th>Colour</th>
        <th>price</th>
        <th>Date Created</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for stockTile in stockTiles_list %}
      <tr>
        <td>{{ stockTile.get_stock_id() }}</td>
        <td>{{ stockTile.get_stock_name() }}</td>
        <td>{{ stockTile.get_stock_count() }}</td>
        <td>{{ stockTile.get_colour() }}</td>
        <td>{{ stockTile.get_price() }}</td>
        <td>{{ stockTile.get_date_created() }}</td>
        <td>{{ stockTile.get_remarks() }}</td>
                </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
